{% extends 'layout.njk' %}

{% block title %}Blog{% endblock %}

{% block main %}
  <ul>
    <li>page = {{data.page}}/{{data.pages}}</li>
    {% if data.hasPrev %}
      <li><a href="{{data.prevURL}}">prev = {{data.prevURL}}</a></li>
    {% endif %}
    {% if data.hasNext %}
      <li><a href="{{data.nextURL}}">next = {{data.nextURL}}</a></li>
    {% endif %}
  </ul>
  <ul>
    {% for instance in data.instances %}
      <li><a href="{{instance.permalink}}">{{instance.data.title}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
