{% extends 'layout.njk' %}

{% block title %}{{data.title}}{% endblock %}

{% block main %}
  <h1>{{data.title}}</h1>
  <ul>
    <li>date = {{params.year}}/{{params.month}}</li>
    <li>slug = {{params.slug}}</li>
    <li>tags = {{data.tags}}</li>
    <li>categories:
      <ul>
        {% for category in data.categories %}
          <a href="{{url('blog-category-index', category=category)}}">{{category}}</a>
        {% endfor %}
      </ul>
    </li>
  </ul>
  <div>
    {{data.content}}
  </div>
  <div>
    All categories:
    <ul>
      {% for category in categories %}
        <li><a href="{{url('blog-category-index', category=category)}}">{{category}}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
