{% extends 'layout.njk' %}

{% block title %}Random{% endblock %}

{% block main %}
  <ul>
    <li>page = {{data.page}}/{{data.pages}}</li>
    <li>
      {% if data.hasPrev %}
        <a href="{{data.prevURL}}">prev = {{data.prevURL}}</a>
      {% else %}
        prev = &mdash;
      {% endif %}
    </li>
    <li>
      {% if data.hasNext %}
        <a href="{{data.nextURL}}">next = {{data.nextURL}}</a>
      {% else %}
        next = &mdash;
      {% endif %}
    </li>
  </ul>
  <ul>
    {% for instance in data.instances %}
      <li><a href="{{instance.permalink}}">{{instance.data.id}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
