<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico"/>
  <title>
    {% set title %}{% block title %}{% endblock %}{% endset %}
    {% if title %}
      {{ title }} - Mauma Playground
    {% else %}
      Mauma Playground
    {% endif %}
  </title>
</head>
<body>
  <main>
    <p>Locale: {{ locale }}</p>
    <ul>
      <li><a href="{{ url('index') }}">Home</a></li>
      <li><a href="{{ url('us-about') }}">About</a></li>
      <li><a href="{{ url('blog-index') }}">Blog</a></li>
      <li><a href="{{ url('sitemap') }}">Sitemap</a></li>
      <li><a href="{{ url('random-index') }}">Random</a></li>
      <li><a href="{{ url('random-no-i18n-index') }}">Random (no i18n)</a></li>
    </ul>
    <ul>
      {% for l in config.i18n.locales %}
        {% if l.code !== locale %}
          <li>
            {% if haslocale(l.code) %}
              <a href="{{ localeurl(l.code) }}">{{ l.label}} ({{ l.code }})</a>
            {% else %}
              {{ l.label}} ({{ l.code }})
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% block main %}{% endblock %}
  </main>
  <script type="module" src="@client/layout.ts"></script>
</body>
</html>
